.app {
  padding: 10px;
}
.game {
  display: flex;
  flex-wrap: wrap;
  border: 3px solid #063b39;
  border-radius: 5px;
}
.game img {
  background-color: #115d59;
}
.score-board {
  margin: 10px 0px;
  padding: 5px 0px;
  font-family: sans-serif;
  border: 1px solid orange;
}
.score {
  margin-left: 10px;
}
.bar {
  margin-bottom: -5px;
  margin-top: -23px;
  height: 25px;
  background-color: greenyellow;
}